.estudoCard {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #ECB37A;
    -fx-border-color: transparent transparent #BF8449 transparent; 
    -fx-border-width: 0 0 2px 0; 
    -fx-border-style: solid;
}

.estudoTitulo {
    -fx-font-size: 15px;
}

.estudoBtn {
    -fx-background-color: #FBF6F2;
}

.estudoBtn:hover {
    -fx-background-color: #BF8449;
}

.estudoDangerBtn {
    -fx-background-color: #FBF6F2;
}

.estudoDangerBtn:hover {
    -fx-background-color: #B22222;
    -fx-text-fill: #FBF6F2;
}
