@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.root {
    -fx-background-color: transparent;
    -fx-font-family: "Montserrat", sans-serif;;
}

.footerPane {
    -fx-background-color: #FBF6F2;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.timeContainer {
    -fx-background-color: #BF8449;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.timerPrincipal {
    -fx-font-weight: bold;
    -fx-text-fill: #FBF6F2;
}

.timerNext {
    -fx-font-weight: bold;
    -fx-text-fill: #ECB37A;
}

.beginBtn {
    -fx-background-color: #ECB37A;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.beginBtn:hover {
    -fx-background-color: #f3a455;
}

.menu {
    -fx-background-color: #BF8449;
}


.menuShowBtn {
    -fx-background-color: #FBF6F2;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menuShowBtn:hover {
    -fx-background-color: #e4deda;
}

.menuTopBtn {
    -fx-background-color: #BF8449;
}

.menuTopBtn:hover {
    -fx-background-color: #ECB37A;
}

/* Lojinha Acessórios */
.moneyLabel {
    -fx-font-size: 20px;
    -fx-text-fill: #FBF6F2;
    -fx-font-weight: bold;

    -fx-border-color: transparent transparent #FBF6F2 transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid;
}

.StudiesComboBox {
    -fx-background-color: #ECB37A;

}

.studiesHeader {
    -fx-border-width: 0 0 2px 0; /* top right bottom left */
    -fx-border-color: transparent transparent #ECB37A transparent;
    -fx-border-style: solid;
}

.selectedButton {
    -fx-background-color: #ECB37A;
}

.selectedAltButton {
    -fx-background-color: #f3a455;
}